*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body{
    background-image: url('./images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

header{
    padding: 25px 35px;
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1440px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 50%;
}

.image-container img{
    width: 100%;
}

.text-container{
    width: 50%;
    padding-right: 75px;
    margin-left: 50px;
}

.text-container h1 {
    padding: 15px 0 0 0 ;
    font-size: 52px;
}

.text-container p{
    margin-top: 25px;
    font-size: 20px;
}

.text-container button{
    transition: .3s;
    color:  hsl(257, 40%, 49%);
    font-size: 20px;
    padding: 15px 65px;
    border-radius: 35px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
}

.text-container button:hover{
    transition: .3s;
    color: white;
    background: linear-gradient(90deg, hsl(300, 69%, 71%) 35%, hsl(257, 40%, 49%) 100%);
}

footer {
    display: flex;
    flex-direction: row-reverse;
}

.social-buttons{
    padding: 0px 65px 0 25px;
    display: flex;
    flex-direction: row;
}

.social-button{
    transition: .3s;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin: 15px;
    border: 1px solid white;
    height: 55px;
    width: 55px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
}

.social-button:hover{
    transition: .3s;
    background: linear-gradient(90deg, hsl(300, 69%, 71%) 35%, hsl(257, 40%, 49%) 100%);

}

i{
    font-size: 24px;
}

.logo{
    padding: 25px 20px;
}

.violet{
    background-color: hsl(257, 40%, 49%);
}

.soft-magenta{
    background-color: hsl(300, 69%, 71%);
}

@media only screen and (max-width: 767px) {
    .logo{
        padding: 5px 0px;
    }

    .logo img {
        height: 35px;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .image-container{
        width: 100%;
        min-height: 40vh;
        padding: 15px;
        padding-bottom: 45px;
    }

    .text-container p {
        font-size: 18px;
    }

    .text-container h1 {
        width: 80%;
        font-size: 22px;
        padding: 0;
        margin: auto;
    }

    .text-container{
        width: 100%;
        padding-right: 0;
        margin-left: 0;
        text-align: center;
    }

    .text-container p {
        padding: 15px;
        margin-top: 5px;
    }

    .text-container button{
        margin-top: 10px;
    }

    .social-buttons{
        width: 100%;
        padding: 0;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
    }

    .social-button{
        height: 35px;
        width: 35px;
    }

    i{
        font-size: 18px;
    }
    body{
        background-image: url('./images/bg-mobile.svg');
        background-size: contain;
    }
}
